@(service: core.ServiceDescription, resource: core.Resource, operation: core.Operation)

<h3>Resource Url</h3>
@operation.method @service.baseUrl@service.basePath@resource.path

<h3>Parameters</h3>
@if(operation.parameters.isEmpty) {
  <em>No parameters</em>
} else {
  @fields(operation.parameters)
}

<h3>Response</h3>
@operation.responses.map { response =>

  <p>
    HTTP @response.code:
    @defining(response.dataType match {
      case core.Datatype.UserType(name) => resource.toString
      case core.Datatype.List(_, core.Datatype.UserType(name)) => s"List[$resource]"
      case _ => "Illegal"
    }) { typeName =>
      @typeName
    }
  </p>
}
